@import "tailwindcss";
@import "tw-animate-css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .mask-wave {
        --mask:
                radial-gradient(195.39px at 50% 263.9px, #000 99%, #0000 101%) calc(50% - 182px) 0/364px 100%,
                radial-gradient(195.39px at 50% -172.9px, #0000 99%, #000 101%) 50% 91px/364px 100% repeat-x;
        -webkit-mask: var(--mask);
        mask: var(--mask);
        mask-composite: add;
        -webkit-mask-composite: source-over;
    }
}

@layer utilities {
    .mask-bg-wave {
        --mask:
                radial-gradient(97.88px at 50% calc(100% + 76px), #0000 calc(99% - 24px), #000 calc(101% - 24px) 99%, #0000 101%) calc(50% - 80px) calc(50% - 32px + .5px)/160px 64px,
                radial-gradient(97.88px at 50% -76px, #0000 calc(99% - 24px), #000 calc(101% - 24px) 99%, #0000 101%) 50% calc(50% + 32px)/160px 64px;
        -webkit-mask: var(--mask);
        mask: var(--mask);
        mask-repeat: repeat;
        -webkit-mask-repeat: repeat;
    }
}
